! Trakt.tv
trakt.tv###snhb-in_content-1-0 > a.hu-ck--st-er-e250f397a:last-child > img
trakt.tv###snhb-in_content-1-0
trakt.tv###hu-ck--st-er-desk-top-wrapper
trakt.tv##.e1a979-grid-item

! EkşiSözlük
eksisozluk.com###aside > iframe.lazy.lazy-loaded:nth-child(3)
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(5) > span > iframe
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(6) > span > iframe
eksisozluk.com###twitter-widget-0
eksisozluk.com###search-box-ad
eksisozluk.com#%#//scriptlet('set-cookie', 'notheme', '1')
||connect.facebook.net/tr_TR/sdk.js*$domain=eksisozluk.com
||platform.twitter.com/widgets.js*$domain=eksisozluk.com

! Github
github.com##body > div.notification-shelf
github.com###feed-next
github.com#$#.feed-left-sidebar{ width:300px !important; }
! Pull Request warning annotation
! github.com##.check-annotation-warning

! Twitter

! For bullshit Fonts
abs.twimg.com/fonts/chirp-*.woff$font
abs.twimg.com/fonts/v2/chirp-*.woff$font

twitter.com#$#[role="menu"]{ width: 250px; }
twitter.com##[aria-label="Gündemdekiler"]
twitter.com##[data-testid="DMDrawerHeader"]
twitter.com##[data-testid="DMDrawer"]
twitter.com##[aria-labelledby="accessible-list-9"]
twitter.com##a[href^="/i/verified-choose"]
twitter.com##a[href^="/i/twitter_blue_sign_up"]
twitter.com##a[href^="/i/connect_people?user_id="]
twitter.com##a[href^="/i/flow/convert_to_professional"]
twitter.com##a[href^="https://ads.twitter.com/"]
twitter.com##a[href="/i/lists/suggested"]
twitter.com##div[data-testid="sidebarColumn"]
twitter.com##a[href*="/analytics"]:upward(div):remove()
twitter.com##div[aria-label="Zaman Akışı: Listelerin"] > div > div:has(h2:has-text(Yeni Listeleri keşfet)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 8])
twitter.com##div[aria-label^="Zaman Akışı"] > div > div:has(h2:has-text(Kimi takip etmeli)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 8])
twitter.com##div[aria-label^="Zaman Akışı"] > div > div:has(h2:has-text(Takip edilebilecek Konular)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 11])
||twitter.com/i/api/1.1/users/recommendations.json

! Spotify 
open.spotify.com##[data-testid="inAppMessageIframe"]
open.spotify.com##[data-testid="signup-bar"]
open.spotify.com##[aria-label="Premium'a Yükselt"]
open.spotify.com##.sponsor-container
open.spotify.com##div.GenericModal__overlay.GenericModal__overlay--animated.GenericModal__overlay--afterOpen
open.spotify.com##a[href^="/download"]
open.spotify.com##a[href^="https://www.spotify.com/premium"]

! Spotify dumb podcast suggestions
open.spotify.com##[data-testid="inAppMessageContainer"]
open.spotify.com##[aria-label="Hoşuna gidebilecek programlar"]
open.spotify.com##[aria-label="15 dakikalık veya daha kısa programlar"]
open.spotify.com##[aria-label="Denemeye değer programlar"]
open.spotify.com##[data-testid="test-ref-div"]
open.spotify.com##[aria-label="Komedi saati"]
open.spotify.com##[aria-label="The Joe Rogan Experience dinleyicileri arasında popüler"]
open.spotify.com##[aria-label="Teknoloji dünyası"]
open.spotify.com##[aria-label="Yeni bölümler"]
open.spotify.com##[aria-label="2020'nin En Çok Dinlenen Podcast'leri"]
open.spotify.com##[aria-label="Her zaman güncel"]
open.spotify.com##[aria-label="Manşetlerin ötesinde"]
open.spotify.com##[aria-label="This month's featured songwriter"]
open.spotify.com##[aria-label="Bu ay öne çıkan besteci"]
open.spotify.com##[aria-label="Stories of Resilience"]
open.spotify.com##[aria-label="Sana özel bölümler"]
open.spotify.com##[aria-label="Bu çalma listesindeki içeriklere göre önerilenler"]
open.spotify.com##[aria-label="Bugün için tavsiye"]

! Embed stuff
open.spotify.com#$#.gMx7ZQAGhBSydDebRjyI{ border-radius: unset !important;} 

! Bullshit playlist covers
||dailymix-images.scdn.co^$domain=open.spotify.com
||seed-mix-image.spotifycdn.com^$domain=open.spotify.com
||newjams-images.scdn.co^$domain=open.spotify.com

! Trackers and ads streaming
||adeventtracker.spotify.com^
||spclient.wg.spotify.com/storage-resolve/files/audio/interactive/*$domain=open.spotify.com
||gew1-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^

! For bullshit Fonts
*.scdn.co/fonts/*.woff$font
*.scdn.co/fonts/*.woff2$font
*.scdn.co/fonts/*.ttf$font
*.scdn.co/fonts/*.otf$font
*.spotifycdn.com/cdn/fonts/*.woff2$font

! YtMusic and Youtube
youtube.com##ytd-browse[page-subtype="home"]
youtube.com##.html5-endscreen
youtube.com###voice-search-button
youtube.com##.ytp-quality-menu [role="menuitemradio"]:has-text(Premium)
youtube.com#$#.ytd-thumbnail{ border-radius:unset !important; }

! User actions trackers
||music.youtube.com/youtubei/v1/log_event^$domain=music.youtube.com
||youtube.com/youtubei/v1/log_event^$domain=www.youtube.com
||youtube-nocookie.com/youtubei/v1/log_event

! Shorts
youtube.com##[title="Shorts"]
youtube.com##.ytd-reel-shelf-renderer:has-text(/\bShorts\b/):upward(ytd-reel-shelf-renderer):remove()
youtube.com##yt-icon.ytd-thumbnail-overlay-time-status-renderer.style-scope:not([hidden]):upward(6)
youtube.com##.ytd-thumbnail-overlay-time-status-renderer[aria-label="Shorts"]:upward(#dismissible)
youtube.com##ytd-rich-item-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"])
youtube.com##ytd-rich-grid-row:style(display:contents !important;)
youtube.com###contents.ytd-rich-grid-row:style(display:contents !important;)
youtube.com##ytd-rich-grid-renderer:style(--ytd-rich-grid-items-per-row: 4 !important;)

! Google 
google.com##[aria-label="Ads"]
google.com##[aria-label="Reklamlar"]

! Spam stackoverflow websites
google.com###bottomads
google.com##[aria-label="Ads"]
google.com##[aria-label="Reklamlar"]
google.com#?#cite:contains(/anycodings.com/):nth-ancestor(5)
google.com#?#cite:contains(/codegrepper.com/):nth-ancestor(5)
google.com#?#cite:contains(/sololearn.com/):nth-ancestor(5)

! Twitch
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id')
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id_durable')
twitch.tv##[aria-label="Popular Channels"]
twitch.tv##[aria-label*="Viewers Also Watch"]
twitch.tv##[data-popper-placement="bottom"]
twitch.tv##[data-test-selector="sad-overlay"]
twitch.tv##.Layout-sc-nxg1ff-0 gTIuHP
twitch.tv##.top-nav__prime
twitch.tv###root > div > div.Layout-sc-nxg1ff-0.qViOJ > div.Layout-sc-nxg1ff-0.kXaHWh > main > div.root-scrollable.scrollable-area.scrollable-area--suppress-scroll-x > div.simplebar-scroll-content > div > div > div > div.Layout-sc-nxg1ff-0.gRnGwD.front-page-carousel
twitch.tv###sideNav > div > div > div > div > div.simplebar-scroll-content > div > div > div.side-bar-contents > div > div.Layout-sc-nxg1ff-0.aleoz > div:nth-child(3)

! Dogshit new Directory ui replace with old ui url
twitch.tv#%#navigation.addEventListener("navigate",t=>{let a=new URL(t.destination.url);a.pathname.startsWith("/directory/game/")&&!a.pathname.includes("/list")&&(window.location.pathname=`${a.pathname}/list`)});

! Twitch Extensions
||extension-files.twitch.tv
||ext-twitch.tv
twitch.tv##.extensions-dock__layout
twitch.tv##.extensions-video-overlay-size-container
twitch.tv##.extensions-notifications
twitch.tv##.extension-container
twitch.tv##.extension-taskbar


! https://github.com/robbiewxyz/hackernews-threadlines
news.ycombinator.com##.togg:before:style( content: ''; display: block; width: 1px; background-color: #9a9a9a; position: absolute; height: 10000px; padding: 8px; margin: 2px; background-clip: content-box; )
news.ycombinator.com##.comment-tree:style( overflow: hidden; position: relative; )
news.ycombinator.com##.default, .comment, .morelink, .morespace:style( position: relative; )
news.ycombinator.com##.default, .comment:style( background-color: #f6f6ef; box-shadow: 0 4px 0 8px #f6f6ef; position: relative; width: 100%; )
news.ycombinator.com##.morespace:style( background-color: #f6f6ef; display: block; margin: 0 0 -30px; height: 40px !important; )
news.ycombinator.com##.comtr > td > table:style( width: 100%; )
news.ycombinator.com###hnmain > tbody > tr:last-child:style( position: relative; )

news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bTwitter\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bMusk\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bMastodon\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bTesla\b/):upward(tr):remove()

! Others

filmmodu*.com###preroll-link
||filmmodu*.com/ph/ps3.png$domain=filmmodu*.com

! Broken instagram styles 
instagram.com#$#._a995{ margin-top: 30px !important; }
instagram.com#$#._a994{ margin-top: 30px !important; }
instagram.com#$#._acun{ background-color: #fff !important; padding-bottom: 30px !important; padding-top: 30px !important; max-width: 100vw !important; }
instagram.com#$#._acus{ align-items: center !important; }

! Current styles
instagram.com#$#._akej{ max-width: 750px !important; padding-top: 20px !important; margin: 0 auto !important; }
instagram.com##._aak3
instagram.com##._aak9
||instagram.com/logging/falco
! https://github.com/AdguardTeam/AdguardFilters/issues/137874 Broken rule for revert.
instagram.com##article[role="presentation"] > div:-abp-has(span:-abp-contains(/Gesponsert|Sponsored|Geborg|Sponzorováno|Sponsoreret|Χορηγούμενη|Publicidad|Sponsoroitu|Sponsorisé|Bersponsor|Sponsorizzato|広告|광고|Ditaja|Sponset|Gesponsord|Sponsorowane|Patrocinado|Реклама|Sponsrad|ได้รับการสนับสนุน|May Sponsor|Sponsorlu|赞助内容|贊助|প্রযোজিত|પ્રાયોજિત|स्पॉन्सर्ड|Sponzorirano|ಪ್ರಾಯೋಜಿತ|സ്‌പോൺസർ ചെയ്‌തത്|पुरस्‍कृत|प्रायोजित|ਪ੍ਰਾਯੋਜਿਤ|මුදල් ගෙවා ප්‍රචාරය කරන ලදි|Sponzorované|விளம்பரதாரர்கள்|స్పాన్సర్ చేసింది|Được tài trợ|Спонсорирано|Commandité|Sponsorizat|Спонзорисано/))

substack.com#$#html { overflow: visible!important; }
substack.com#$#body { overflow: visible!important; }
substack.com##div[class^="subscribe-"]
substack.com##.default-intro-popup

last.fm##a[href="/pro"]
last.fm##.stationlink-list
