! Trakt.tv
trakt.tv###snhb-in_content-1-0 > a.hu-ck--st-er-e250f397a:last-child > img
trakt.tv###snhb-in_content-1-0
trakt.tv###hu-ck--st-er-desk-top-wrapper
trakt.tv##.af1a979-grid-item
trakt.tv##a[href^="/vip/advertising"]

trakt.tv#%#//scriptlet("set-constant", "artemisInit", "noopFunc")
trakt.tv#%#//scriptlet("set-constant", "artemisSnigel", "noopFunc")
trakt.tv#%#//scriptlet("set-constant", "artemisBT", "noopFunc")
trakt.tv#%#//scriptlet("set-constant", "snigelArtemises", "undefined")

||trakt.tv/assets/b6a0a7$image
||trakt.tv/assets/b6a0a7$media,redirect=noopmp4-1s
trakt.tv##.snigel:upward(div):remove()

! EkşiSözlük
eksisozluk.com###aside > iframe.lazy.lazy-loaded:nth-child(3)
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(5) > span > iframe
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(6) > span > iframe
eksisozluk.com###twitter-widget-0
eksisozluk.com###search-box-ad
eksisozluk.com#%#//scriptlet('set-cookie', 'notheme', '1')
||connect.facebook.net/tr_TR/sdk.js*$domain=eksisozluk.com
||platform.twitter.com/widgets.js*$domain=eksisozluk.com

! Github
github.com##body > div.notification-shelf
github.com###feed-next
github.com#$#.feed-left-sidebar{ width:300px !important; }
! Pull Request warning annotation
! github.com##.check-annotation-warning

! Twitter

! For bullshit Fonts
abs.twimg.com/responsive-web/client-web/Chirp-*.woff$font
abs.twimg.com/responsive-web/client-web/Chirp-*.woff$font


x.com#$#[role="menu"]{ width: 250px; }
x.com##[aria-label="Gündemdekiler"]
x.com##[aria-label="Gönderi istatistiklerini görüntüle"]
x.com##[data-testid="DMDrawerHeader"]
x.com##[data-testid="DMDrawer"]
x.com##[aria-labelledby="accessible-list-9"]
x.com##a[href^="/i/verified-orgs-signup"]
x.com##a[href^="/i/twitter_blue_sign_up"]
x.com##a[href^="/i/premium_sign_up"]
x.com##a[href^="/i/connect_people?user_id="]
x.com##a[href^="/i/flow/convert_to_professional"]
x.com##a[href^="https://ads.x.com/"]
x.com##a[href="/i/lists/suggested"]
x.com##a[href="/i/verified-choose"]
x.com##a[href="/i/spaces/start"]
x.com##a[href="/i/grok"]
x.com##a[href="/i/monetization"]
!x.com##a[href*="/communities"]
x.com##a[href="/jobs"]
x.com##a[href*="/analytics"]:upward(div):remove()
x.com##div[data-testid="sidebarColumn"]
x.com##div[data-testid="GrokDrawer"]
x.com##[aria-label="Topluluklar"]
||x.com/i/api/1.1/users/recommendations.json
!x.com##div[aria-label^="Zaman Akışı"] > div > div > div > div:has(h2:has-text(Kimi takip etmeli)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 8])
!x.com##div[aria-label^="Zaman Akışı"] > div > div:has(h2:has-text(Takip edilebilecek Konular)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 11])
!x.com#%#//scriptlet('json-prune', 'data.user.result.timeline_v2.timeline.instructions.[].entries.[].content.clientEventInfo')
! list page follow suggestion block
x.com#%#//scriptlet('json-prune', 'data.viewer.list_management_timeline.timeline.instructions.3.entries.0')
! trending page video carousel blcok
x.com#%#//scriptlet('json-prune', 'data.explore_page.body.initialTimeline.timeline.timeline.instructions.1.entries.3')

! Spotify 
open.spotify.com##[data-testid="inAppMessageIframe"]
open.spotify.com##[data-testid="signup-bar"]
open.spotify.com##[aria-label="Premium'a Yükselt"]
open.spotify.com##[aria-label="Notification to reload the page"]
open.spotify.com##.sponsor-container
open.spotify.com##div.GenericModal__overlay.GenericModal__overlay--animated.GenericModal__overlay--afterOpen
open.spotify.com##a[href^="/download"]
open.spotify.com##a[href^="https://www.spotify.com/premium"]

! Spotify dumb podcast suggestions
open.spotify.com##[data-testid="inAppMessageContainer"]
open.spotify.com##[aria-label="Hoşuna gidebilecek programlar"]
open.spotify.com##[aria-label="15 dakikalık veya daha kısa programlar"]
open.spotify.com##[aria-label="Denemeye değer programlar"]
open.spotify.com##[data-testid="test-ref-div"]
open.spotify.com##[aria-label="Komedi saati"]
open.spotify.com##[aria-label="The Joe Rogan Experience dinleyicileri arasında popüler"]
open.spotify.com##[aria-label="Teknoloji dünyası"]
open.spotify.com##[aria-label="Yeni bölümler"]
open.spotify.com##[aria-label="2020'nin En Çok Dinlenen Podcast'leri"]
open.spotify.com##[aria-label="Her zaman güncel"]
open.spotify.com##[aria-label="Manşetlerin ötesinde"]
open.spotify.com##[aria-label="This month's featured songwriter"]
open.spotify.com##[aria-label="Bu ay öne çıkan besteci"]
open.spotify.com##[aria-label="Stories of Resilience"]
open.spotify.com##[aria-label="Sana özel bölümler"]
open.spotify.com##[aria-label="Bu çalma listesindeki içeriklere göre önerilenler"]
open.spotify.com##[aria-label="Bugün için tavsiye"]
open.spotify.com##[aria-label="Bugünün en çok dinlenenleri"]
open.spotify.com##[aria-label="Popüler radyolar"]

! Embed stuff
open.spotify.com#$#.gMx7ZQAGhBSydDebRjyI{ border-radius: unset !important;} 

! Bullshit playlist covers
||dailymix-images.scdn.co^$domain=open.spotify.com
||seed-mix-image.spotifycdn.com^$domain=open.spotify.com
||newjams-images.scdn.co^$domain=open.spotify.com

! Trackers and ads streaming
||creativeservice-production.scdn.co^$domain=open.spotify.com
||adeventtrackermonitoring.spotify.com^$domain=open.spotify.com
||adeventtracker.spotify.com^
||spclient.wg.spotify.com/storage-resolve/files/audio/interactive/*$domain=open.spotify.com
||gew1-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^
||gew2-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^
||gew3-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^
||gew4-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^
! Covers
||pickasso.spotifycdn.com^$domain=open.spotify.com
||dailymix-images.scdn.co^$domain=open.spotify.com
||seed-mix-image.spotifycdn.com^$domain=open.spotify.com
||newjams-images.scdn.co^$domain=open.spotify.com

! For bullshit Fonts
*.scdn.co/fonts/*.woff$font
*.scdn.co/fonts/*.woff2$font
*.scdn.co/fonts/*.ttf$font
*.scdn.co/fonts/*.otf$font
*.spotifycdn.com/cdn/fonts/*.woff2$font

! YtMusic and Youtube
youtube.com##[title="Play on TV"]
youtube.com##[title="Miniplayer (i)"]
youtube.com##ytd-browse[page-subtype="home"]
youtube.com##.html5-endscreen
youtube.com###voice-search-button
youtube.com##.ytp-quality-menu [role="menuitemradio"]:has-text(Premium)
youtube.com#$#.ytd-thumbnail{ border-radius:unset !important; }

$removeparam=/^(pp|list|start_radio)=/
@@|youtube.com/watch?^$removeparam

! User actions trackers
||music.youtube.com/youtubei/v1/log_event^$domain=music.youtube.com
||youtube.com/youtubei/v1/log_event^$domain=www.youtube.com
||youtube-nocookie.com/youtubei/v1/log_event
! Search suggestions
||suggestqueries-clients*.youtube.com/complete/search^

! Shorts
youtube.com##[title="Shorts"]
youtube.com##.ytd-reel-shelf-renderer:has-text(/\bShorts\b/):upward(ytd-reel-shelf-renderer):remove()
youtube.com##yt-icon.ytd-thumbnail-overlay-time-status-renderer.style-scope:not([hidden]):upward(6)
youtube.com##.ytd-thumbnail-overlay-time-status-renderer[aria-label="Shorts"]:upward(#dismissible)
youtube.com##ytd-rich-item-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"])
youtube.com##ytd-rich-grid-row:style(display:contents !important;)
youtube.com###contents.ytd-rich-grid-row:style(display:contents !important;)
youtube.com##ytd-rich-grid-renderer:style(--ytd-rich-grid-items-per-row: 4 !important;)
www.youtube.com##ytd-rich-section-renderer.ytd-rich-grid-renderer.style-scope

! Spam stackoverflow websites
google.com#?#cite:contains(/anycodings.com/):nth-ancestor(5)
google.com#?#cite:contains(/codegrepper.com/):nth-ancestor(5)
google.com#?#cite:contains(/sololearn.com/):nth-ancestor(5)

! Twitch
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id')
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id_durable')
twitch.tv###channel-player-disclosures
twitch.tv##[aria-label="Popular Channels"]
twitch.tv##[aria-label*="Viewers Also Watch"]
twitch.tv##[data-popper-placement="bottom"]
twitch.tv##[data-test-selector="sad-overlay"]
twitch.tv##.Layout-sc-nxg1ff-0 gTIuHP
twitch.tv##.top-nav__prime
twitch.tv###root > div > div.Layout-sc-nxg1ff-0.qViOJ > div.Layout-sc-nxg1ff-0.kXaHWh > main > div.root-scrollable.scrollable-area.scrollable-area--suppress-scroll-x > div.simplebar-scroll-content > div > div > div > div.Layout-sc-nxg1ff-0.gRnGwD.front-page-carousel
twitch.tv###sideNav > div > div > div > div > div.simplebar-scroll-content > div > div > div.side-bar-contents > div > div.Layout-sc-nxg1ff-0.aleoz > div:nth-child(3)
#twitch.tv##iframe[title="Display Ad"]
#twitch.tv##[data-a-target="browse-card-ad-slot"]
#twitch.tv##[data-a-target="browse-banner-ad-slot"]
||ads.twitch.tv$domain=twitch.tv

! Dogshit new Directory ui replace with old ui url
twitch.tv#%#navigation.addEventListener("navigate",t=>{let a=new URL(t.destination.url);a.pathname.startsWith("/directory/category/")&&!a.pathname.includes("/list")&&(window.location.pathname=`${a.pathname}/list`)});

! Twitch Extensions
||extension-files.twitch.tv
||ext-twitch.tv
twitch.tv##.extensions-dock__layout
twitch.tv##.extensions-video-overlay-size-container
twitch.tv##.extensions-notifications
twitch.tv##.extension-container
twitch.tv##.extension-taskbar


! https://github.com/robbiewxyz/hackernews-threadlines
news.ycombinator.com##.togg:before:style( content: ''; display: block; width: 1px; background-color: #9a9a9a; position: absolute; height: 10000px; padding: 8px; margin: 2px; background-clip: content-box; )
news.ycombinator.com##.comment-tree:style( overflow: hidden; position: relative; )
news.ycombinator.com##.default, .comment, .morelink, .morespace:style( position: relative; )
news.ycombinator.com##.default, .comment:style( background-color: #f6f6ef; box-shadow: 0 4px 0 8px #f6f6ef; position: relative; width: 100%; )
news.ycombinator.com##.morespace:style( background-color: #f6f6ef; display: block; margin: 0 0 -30px; height: 40px !important; )
news.ycombinator.com##.comtr > td > table:style( width: 100%; )
news.ycombinator.com###hnmain > tbody > tr:last-child:style( position: relative; )

news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bTwitter\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bMusk\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bMastodon\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bTesla\b/):upward(tr):remove()
news.ycombinator.com##tr.athing span.titleline > a:has-text(/\bReddit\b/):upward(tr):remove()

! Reddit
reddit.com##div.side:nth-child(5) > div.spacer:nth-child(5) > a.premium-banner-outer > form.premium-banner
reddit.com#$#[aria-label="downvote"]{ display:block !important; visibility: unset !important;}
reddit.com##.redesign-beta-optin
reddit.com##.hidden-post-placeholder
! Others

filmmodu*.com###preroll-link
||filmmodu*.com/ph/ps3.png$domain=filmmodu*.com

! Broken instagram styles 
instagram.com#$#._a995{ margin-top: 30px !important; }
instagram.com#$#._a994{ margin-top: 30px !important; }
instagram.com#$#._acun{ background-color: #fff !important; padding-bottom: 30px !important; padding-top: 30px !important; max-width: 100vw !important; }
instagram.com#$#._acus{ align-items: center !important; }

! Current styles
instagram.com#$#.xw7yly9{ max-width: 750px !important; padding-top: 20px !important; margin: 0 auto !important; }
instagram.com##._aak3
instagram.com##._aak9
instagram.com##.x6bx242
instagram.com##[data-pagelet="IGDChatTabsRootContent"]
||instagram.com/logging/falco
! https://github.com/AdguardTeam/AdguardFilters/issues/137874 Broken rule for revert.
instagram.com##article[role="presentation"] > div:-abp-has(span:-abp-contains(/Gesponsert|Sponsored|Geborg|Sponzorováno|Sponsoreret|Χορηγούμενη|Publicidad|Sponsoroitu|Sponsorisé|Bersponsor|Sponsorizzato|広告|광고|Ditaja|Sponset|Gesponsord|Sponsorowane|Patrocinado|Реклама|Sponsrad|ได้รับการสนับสนุน|May Sponsor|Sponsorlu|赞助内容|贊助|প্রযোজিত|પ્રાયોજિત|स्पॉन्सर्ड|Sponzorirano|ಪ್ರಾಯೋಜಿತ|സ്‌പോൺസർ ചെയ്‌തത്|पुरस्‍कृत|प्रायोजित|ਪ੍ਰਾਯੋਜਿਤ|මුදල් ගෙවා ප්‍රචාරය කරන ලදි|Sponzorované|விளம்பரதாரர்கள்|స్పాన్సర్ చేసింది|Được tài trợ|Спонсорирано|Commandité|Sponsorizat|Спонзорисано/))

substack.com#$#html { overflow: visible!important; }
substack.com#$#body { overflow: visible!important; }
substack.com##div[class^="subscribe-"]
substack.com##.default-intro-popup

last.fm##a[href="/pro"]
last.fm##.stationlink-list
last.fm##.metadata-column

trello.com##.js-list-color-picker

music.apple.com##[data-testid="player-bar"]
music.apple.com##[data-testid="banner-container"]
||music.apple.com/includes/*$domain=music.apple.com
||js-cdn.music.apple.com/musickit/v3/*

shazam.com##[data-test-id="home_impression_browserExtensionPromoBanner"]
shazam.com##[data-test-id="home_impression_shazamButton"]
shazam.com##[data-test-id="artist_impression_browserExtensionPromoBanner"]
shazam.com##[class^="FloatingButtonContainer_floatingButtonContainer"]
shazam.com##[class^="ExtensionPromoBanner_promoBannerContainer"]
shazam.com##[class^="Footer_policyLabel"]
