! Trakt.tv
trakt.tv###snhb-in_content-1-0 > a.hu-ck--st-er-e250f397a:last-child > img
trakt.tv###snhb-in_content-1-0
trakt.tv###hu-ck--st-er-desk-top-wrapper
trakt.tv##.e20df-grid-item

! EkşiSözlük
eksisozluk.com###aside > iframe.lazy.lazy-loaded:nth-child(3)
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(5) > span > iframe
eksisozluk.com###aside > div.fb-page.fb_iframe_widget:nth-child(6) > span > iframe
eksisozluk.com###twitter-widget-0
eksisozluk.com###search-box-ad
eksisozluk.com#%#//scriptlet('set-cookie', 'notheme', '1')
||connect.facebook.net/tr_TR/sdk.js*$domain=eksisozluk.com
||platform.twitter.com/widgets.js*$domain=eksisozluk.com

! Github
github.com##body > div.notification-shelf
github.com###feed-next

! Twitter

! For bullshit Fonts
abs.twimg.com/fonts/chirp-*.woff$font
abs.twimg.com/fonts/v2/chirp-*.woff$font

twitter.com#$#[role="menu"]{ width: 250px; }
twitter.com##[aria-label="Gündemdekiler"]
twitter.com##[data-testid="DMDrawerHeader"]
twitter.com##[data-testid="DMDrawer"]
twitter.com##[aria-labelledby="accessible-list-9"]
twitter.com##a[href^="/i/connect_people?user_id="]
twitter.com##a[href^="/i/flow/convert_to_professional"]
twitter.com##a[href^="https://ads.twitter.com/"]
twitter.com##a[href="/i/lists/suggested"]
twitter.com##div[data-testid="sidebarColumn"]
||twitter.com/i/api/1.1/users/recommendations.json
twitter.com##div[aria-label="Zaman Akışı: Listelerin"] > div > div:has(h2:has-text(Yeni Listeleri keşfet)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 8])
twitter.com##div[aria-label^="Zaman Akışı"] > div > div:has(h2:has-text(Kimi takip etmeli)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 8])
twitter.com##div[aria-label^="Zaman Akışı"] > div > div:has(h2:has-text(Takip edilebilecek Konular)):xpath(preceding-sibling::*[2]/following-sibling::*[position() < 11])

! Spotify 
open.spotify.com##[data-testid="signup-bar"]
open.spotify.com##[aria-label="Premium'a Yükselt"]
open.spotify.com##.sponsor-container

! Spotify dumb podcast suggestions
open.spotify.com##[data-testid="inAppMessageContainer"]
open.spotify.com##[aria-label="Hoşuna gidebilecek programlar"]
open.spotify.com##[aria-label="15 dakikalık veya daha kısa programlar"]
open.spotify.com##[aria-label="Denemeye değer programlar"]
open.spotify.com##[data-testid="test-ref-div"]
open.spotify.com##[aria-label="Komedi saati"]
open.spotify.com##[aria-label="The Joe Rogan Experience dinleyicileri arasında popüler"]
open.spotify.com##[aria-label="Teknoloji dünyası"]
open.spotify.com##[aria-label="Yeni bölümler"]
open.spotify.com##[aria-label="2020'nin En Çok Dinlenen Podcast'leri"]
open.spotify.com##[aria-label="Her zaman güncel"]
open.spotify.com##[aria-label="Manşetlerin ötesinde"]
open.spotify.com##[aria-label="This month's featured songwriter"]
open.spotify.com##[aria-label="Bu ay öne çıkan besteci"]
open.spotify.com##[aria-label="Stories of Resilience"]
open.spotify.com##[aria-label="Sana özel bölümler"]
open.spotify.com##[aria-label="Bu çalma listesindeki içeriklere göre önerilenler"]
open.spotify.com##div.GenericModal__overlay.GenericModal__overlay--animated.GenericModal__overlay--afterOpen
open.spotify.com##a[href^="/download"]
open.spotify.com#$#.gMx7ZQAGhBSydDebRjyI{ border-radius: unset !important;} 

! Bullshit playlist covers
||dailymix-images.scdn.co^$domain=open.spotify.com
||seed-mix-image.spotifycdn.com^$domain=open.spotify.com
||newjams-images.scdn.co^$domain=open.spotify.com

! Trackers and ads streaming
||adeventtracker.spotify.com^
||spclient.wg.spotify.com/storage-resolve/files/audio/interactive/*$domain=open.spotify.com
||gew1-spclient.spotify.com/storage-resolve/files/*$domain=open.spotify.com^

! For bullshit Fonts
*.scdn.co/fonts/*.woff$font
*.scdn.co/fonts/*.woff2$font
*.scdn.co/fonts/*.ttf$font
*.scdn.co/fonts/*.otf$font
*.spotifycdn.com/cdn/fonts/*.woff2$font

! YtMusic and Youtube
youtube.com##ytd-browse[page-subtype="home"]
youtube.com##.html5-endscreen
youtube.com###voice-search-button

! User actions trackers
||music.youtube.com/youtubei/v1/log_event^$domain=music.youtube.com
||youtube.com/youtubei/v1/log_event^$domain=www.youtube.com

! Shorts
youtube.com##[title="Shorts"]
www.youtube.com##yt-icon.ytd-thumbnail-overlay-time-status-renderer.style-scope:not([hidden]):upward(6)

! Google 
google.com##[aria-label="Ads"]
google.com##[aria-label="Reklamlar"]

! Spam stackoverflow websites
google.com###bottomads
google.com##[aria-label="Ads"]
google.com##[aria-label="Reklamlar"]
google.com#?#cite:contains(/anycodings.com/):nth-ancestor(5)
google.com#?#cite:contains(/codegrepper.com/):nth-ancestor(5)
google.com#?#cite:contains(/sololearn.com/):nth-ancestor(5)

! Twitch
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id')
twitch.tv#%#//scriptlet('remove-cookie', 'unique_id_durable')
twitch.tv##[aria-label="Popular Channels"]
twitch.tv##[aria-label*="Viewers Also Watch"]
twitch.tv##[data-popper-placement="bottom"]
twitch.tv##.Layout-sc-nxg1ff-0 gTIuHP
twitch.tv##.top-nav__prime
twitch.tv###root > div > div.Layout-sc-nxg1ff-0.qViOJ > div.Layout-sc-nxg1ff-0.kXaHWh > main > div.root-scrollable.scrollable-area.scrollable-area--suppress-scroll-x > div.simplebar-scroll-content > div > div > div > div.Layout-sc-nxg1ff-0.gRnGwD.front-page-carousel
twitch.tv###sideNav > div > div > div > div > div.simpl

! https://github.com/robbiewxyz/hackernews-threadlines
news.ycombinator.com##.togg:before:style( content: ''; display: block; width: 1px; background-color: #9a9a9a; position: absolute; height: 10000px; padding: 8px; margin: 2px; background-clip: content-box; )
news.ycombinator.com##.comment-tree:style( overflow: hidden; position: relative; )
news.ycombinator.com##.default, .comment, .morelink, .morespace:style( position: relative; )
news.ycombinator.com##.default, .comment:style( background-color: #f6f6ef; box-shadow: 0 4px 0 8px #f6f6ef; position: relative; width: 100%; )
news.ycombinator.com##.morespace:style( background-color: #f6f6ef; display: block; margin: 0 0 -30px; height: 40px !important; )
news.ycombinator.com##.comtr > td > table:style( width: 100%; )
news.ycombinator.com###hnmain > tbody > tr:last-child:style( position: relative; )


! Others

filmmodu*.com###preroll-link
||filmmodu*.com/ph/ps3.png$domain=filmmodu*.com

instagram.com#$#._aam2{ max-width: 650px !important; margin-right:50px !important; } 
instagram.com#$#._aalx{ margin-left: 55px !important; }
instagram.com##._acgg
instagram.com##._aak3

substack.com#$#html { overflow: visible!important; }
substack.com#$#body { overflow: visible!important; }
substack.com##div[class^="subscribe-"]
substack.com##.default-intro-popup

